:root {
	--bg-ccolor: #0f172a;
	--text-ccolor: #cbd5e1;
	--title-color: #f8fafc;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../fonts/Roboto-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../fonts/Roboto-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-size: 62.5%;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 2rem;
	background-color: var(--bg-ccolor);
	line-height: 1.2;
}

:focus {
	outline: 2px dashed var(--text-ccolor);
	outline-offset: 3px;
}

.container {
	max-width: 1190px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 2rem;
	padding-right: 2rem;
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin-top: 0px;
	margin-bottom: 0;
}

a {
	text-decoration: none;
}

.site-header {
	padding-top: 3.4rem;
	padding-bottom: 3.4rem;
}

.site-header__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	width: 210px;
	height: 44px;
}

.nav__list {
	display: flex;
	align-items: center;
}

.nav__item:not(:last-child) {
	margin-right: 4rem;
}

.nav__link {
	font-weight: 700;
	font-size: 2.4rem;
	line-height: 1.2;
	color: var(--title-color);
	transition: opacity 0.4s ease;
}

.nav__link:hover {
	opacity: 0.8;
}

.nav__link:active {
	opacity: 0.6;
}

/* MIAN START */
.main-content {
	padding-top: 8.5rem;
	padding-bottom: 12.7rem;
}

.hero {
	padding-bottom: 13.3rem;
}

.hero__container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.hero__info {
	max-width: 713px;
	width: 100%;
	color: var(--text-ccolor);
}

.hero__title {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 1.2;
	margin-bottom: 4.8rem;
}

.hero__title span,
.hero__text span {
	background: -webkit-linear-gradient(270deg, #22d3ee 13.04%, #0ea5e9 25.67%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.hero__text {
	font-weight: 500;
	font-size: 2.6rem;
	line-height: 1.2;
	margin-bottom: 4.7rem;
}

.hero__list {
	display: flex;
	align-items: center;
}
.hero__item:not(:last-child) {
	margin-right: 3.7rem;
}

.hero__img {
	width: 60px;
	height: 60px;
	object-fit: cover;
}

.recent-project {
	padding-bottom: 4.2rem;
	color: var(--text-ccolor);
}

.recent-project__title {
	font-weight: 700;
	font-size: 4.8rem;
	line-height: 1.2;
	margin-bottom: 8.2rem;
}

.recent-project__title span {
	background: -webkit-linear-gradient(270deg, #22d3ee 13.04%, #0ea5e9 25.67%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.recent-project__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.recent-project__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(30, 41, 59, 0.4);
	padding: 3rem 0.8rem;
	border-radius: 2rem;
}

.recent-project__item:not(:last-child) {
	margin-bottom: 4.2rem;
}

.recent-project__img {
	margin-right: 4.4rem;
}

.recent-project__img img {
	width: 250px;
	height: 232px;
	object-fit: contain;
}

.recent-project__info {
	max-width: 840px;
	width: 100%;
}

.recent-project__info-top {
	display: flex;
	align-items: center;
	margin-bottom: 2.5rem;
}

.recent-project__info-title {
	font-weight: 500;
	font-size: 3rem;
	margin-right: 2rem;
}
.recent-project__info-btn {
	border: none;
	cursor: pointer;
	padding: 0.8rem;
	border-radius: 1rem;
	background: linear-gradient(180deg, rgba(16, 185, 129, 0.2) 0%, rgba(190, 242, 100, 0.2) 100%);
	color: greenyellow;
}

.recent-project__info-btn2 {
	background: linear-gradient(180deg, rgba(220, 38, 38, 0.2) 0%, rgba(249, 115, 22, 0.2) 100%);
	color: red;
}

.recent-project__info-btn3 {
	background: linear-gradient(180deg, rgba(124, 58, 237, 0.2) 0%, rgba(96, 165, 250, 0.2) 100%);

	color: blue;
}

/* POSTS */
.posts {
	padding-bottom: 9.1em;
}

.posts__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 8.2rem;
}

.posts__title {
	font-weight: 700;
	font-size: 4.8rem;
	color: var(--title-color);
}

.posts__title span {
	background: -webkit-linear-gradient(270deg, #22d3ee 13.04%, #0ea5e9 25.67%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.posts__link {
	display: flex;
	align-items: center;
	font-weight: 700;
	font-size: 2rem;
	color: var(--text-ccolor);
}

.posts__link img {
	margin-left: 1.2rem;
}

.posts__list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.posts__item {
	max-width: 369px;
	width: 100%;
	color: var(--title-color);
	border-radius: 2rem;
	box-shadow: 0px 4px 10px 0px #0000001a;
	background-color: #1e293b;
}

.posts__item:not(:last-child) {
	margin-right: 2rem;
	margin-bottom: 2rem;
}

.posts__img {
	border-radius: 2rem 2rem 0;
}

.posts__item-info {
	padding: 2.2rem 1.4rem 4rem 1.4rem;
	text-align: center;
}

.posts__item-title {
	font-weight: 700;
	font-size: 2.4rem;
	margin-bottom: 1rem;
}

.posts__item-text span {
	display: block;
	opacity: 0.6;
	margin-bottom: 1rem;
}

/* MEDIA QUARY */
@media screen and (max-width: 992px) {
	.site-header {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.nav__item:not(:last-child) {
		margin-right: 3.6rem;
	}

	.nav__link {
		font-size: 2rem;
	}

	.main-content {
		padding-top: 8rem;
		padding-bottom: 11rem;
	}

	.hero {
		padding-bottom: 11rem;
	}

	.hero__title {
		font-size: 4rem;
		margin-bottom: 4rem;
	}

	.hero__text {
		font-size: 2rem;
		margin-bottom: 4rem;
	}

	.hero__item:not(:last-child) {
		margin-right: 3rem;
	}

	.recent-project {
		padding-bottom: 3.6rem;
	}

	.recent-project__title {
		font-size: 4rem;
		margin-bottom: 8rem;
	}

	.recent-project__item {
		padding: 2.8rem 0.8rem;
	}

	.recent-project__item:not(:last-child) {
		margin-bottom: 4rem;
	}

	.recent-project__img {
		margin-right: 4rem;
	}

	.recent-project__info-top {
		margin-bottom: 2rem;
	}

	.recent-project__info-title {
		font-size: 2.8rem;
		margin-right: 1.8rem;
	}

	.posts {
		padding-bottom: 8em;
	}

	.posts__top {
		margin-bottom: 7.5rem;
	}

	.posts__title {
		font-size: 4rem;
	}

	.posts__link {
		font-size: 1.8rem;
	}

	.posts__link img {
		margin-left: 1.2rem;
	}

	.posts__item {
		border-radius: 2rem;
	}

	.posts__item:not(:last-child) {
		margin-right: 1.6rem;
		margin-bottom: 1.6rem;
	}

	.posts__img {
		border-radius: 2rem 2rem 0;
	}

	.posts__item-info {
		padding: 2rem 1rem 3rem 1rem;
	}

	.posts__item-title {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	.posts__item-text {
		font-size: 1.4rem;
	}

	.posts__item-text span {
		margin-bottom: 1rem;
	}
}

@media screen and (max-width: 810px) {
	.posts__item:not(:last-child) {
		margin-right: 1rem;
		margin-bottom: 1rem;
	}
}

@media screen and (max-width: 768px) {
	.site-header {
		padding-top: 2.4rem;
		padding-bottom: 2.4rem;
	}

	.logo {
		width: 180px;
		height: 40px;
	}

	.logo img {
		width: 180px;
		height: 40px;
	}

	.nav__item:not(:last-child) {
		margin-right: 2.4rem;
	}

	.nav__link {
		font-size: 1.8rem;
	}

	.main-content {
		padding-top: 5rem;
		padding-bottom: 6rem;
	}

	.hero {
		padding-bottom: 6rem;
	}

	.hero__title {
		font-size: 2rem;
		margin-bottom: 2rem;
	}

	.hero__text {
		font-size: 1.6rem;
		margin-bottom: 2rem;
	}

	.hero__item:not(:last-child) {
		margin-right: 2rem;
	}

	.hero__img-wrapper {
		width: 200px;
		height: 200px;
	}

	.hero__img-wrapper img {
		width: 200px;
		height: 200px;
		object-fit: contain;
	}

	.hero__img {
		width: 48px;
		height: 48px;
	}

	.recent-project {
		padding-bottom: 3.6rem;
	}

	.recent-project__title {
		font-size: 3.6rem;
		margin-bottom: 5.6rem;
	}

	.recent-project__item {
		padding: 2rem 0.8rem;
	}

	.recent-project__item:not(:last-child) {
		margin-bottom: 3.6rem;
	}

	.recent-project__img {
		margin-right: 3.6rem;
	}

	.recent-project__info-top {
		margin-bottom: 1.6rem;
	}

	.recent-project__info-title {
		font-size: 2rem;
		margin-right: 1rem;
	}

	.recent-project__info-btn {
		font-size: 1.6rem;
	}

	.recent-project__img img {
		width: 200px;
		height: 180px;
	}

	.recent-project__info-text {
		font-size: 1.4rem;
	}

	.posts {
		padding-bottom: 6em;
	}

	.posts__top {
		margin-bottom: 6rem;
	}

	.posts__title {
		font-size: 3rem;
	}

	.posts__link {
		font-size: 1.6rem;
	}

	.posts__link img {
		margin-left: 1rem;
	}

	.posts__link img {
		width: 30px;
		height: 30px;
	}

	.posts__item:not(:last-child) {
		margin-right: 0;
	}

	.posts__item-title {
		font-size: 1.8rem;
	}

	.posts__item-text {
		font-size: 1.2rem;
	}
}

@media screen and (max-width: 520px) {
	.site-header {
		padding-top: 1.2rem;
		padding-bottom: 1.2rem;
	}

	.logo {
		width: 120px;
		height: 30px;
	}

	.logo img {
		width: 120px;
		height: 30px;
	}

	.nav__item:not(:last-child) {
		margin-right: 1rem;
	}

	.nav__link {
		font-size: 1.4rem;
	}

	.main-content {
		padding-top: 4rem;
		padding-bottom: 5.8rem;
	}

	.hero {
		padding-bottom: 6.8rem;
		text-align: center;
	}

	.hero__container {
		flex-direction: column-reverse;
		align-items: center;
		justify-content: center;
	}

	.hero__title {
		font-size: 2rem;
		margin-bottom: 1.6rem;
	}

	.hero__text {
		font-size: 1.2rem;
		margin-bottom: 2.8rem;
	}

	.hero__item:not(:last-child) {
		margin-right: 2rem;
	}

	.hero__list {
		align-items: center;
		justify-content: center;
	}

	.hero__img-wrapper {
		width: 150px;
		height: 150px;
		margin-bottom: 2rem;
	}

	.hero__img-wrapper img {
		width: 150px;
		height: 150px;
	}

	.hero__img {
		width: 30px;
		height: 30px;
	}

	.recent-project__title {
		font-size: 2.4rem;
		margin-bottom: 2.8rem;
	}

	.recent-project__item {
		padding: 1rem;
		border-radius: 2rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.recent-project__item:not(:last-child) {
		margin-bottom: 2.5rem;
	}

	.recent-project__img {
		margin-right: 0rem;
		margin-bottom: 2rem;
	}

	.recent-project__img img {
		width: 150px;
		height: 90px;
	}

	.recent-project__info-top {
		margin-bottom: 1.6rem;
		justify-content: center;
	}

	.recent-project__info-title {
		font-size: 1.5rem;
	}

	.recent-project__info-btn {
		padding: 0.8em;
		font-size: 1rem;
	}

	.recent-project__info-text {
		font-size: 1rem;
	}

	.posts {
		padding-bottom: 4.2em;
	}

	.posts__top {
		margin-bottom: 3rem;
	}

	.posts__title {
		font-size: 2rem;
	}

	.posts__link {
		font-size: 1.2rem;
	}

	.posts__link img {
		margin-left: 0rem;
		width: 20px;
		height: 20px;
		object-fit: cover;
	}

	.posts__item:not(:last-child) {
		margin-bottom: 3.5rem;
	}

	.posts__img {
		width: 100%;
		height: auto;
		object-fit: contain;
	}
}

@media screen and (max-width: 420px) {
	.nav__link {
		font-size: 1rem;
	}

	.hero__text {
		font-size: 1rem;
	}

	.recent-project__img img {
		width: 50px;
		height: 50px;
	}
}
